

body {

    /*text-align: center;*/
    /*width: 95%;*/
    /*border: 3px solid green;*/
    background-color: #23353c;

}
header {
    width: 90%;
    position: absolute;
    left: 0;
    top: 0;
    height: 50px;
    float: left;
    padding: 2px;
    background: black url("../images/forex_traders.jpg") center center fixed no-repeat;
    background-size: 100% 100%;
}
nav {
    width: 10%;
    position: absolute;
    right: 0;
    top: 0;
    height: auto;
    float: left;

}
.menu-icon {
    right: 5px;
    top: -3px;
    float: right;
    position: relative;
    grid-area: area3;
    align-items: center;
    place-self: end;
    display: flex;
    height: 100%;

}
.menu-icon img {
    width: 5vw;
    height: 5vh;
    min-width: 40px;
}
h1 {
    color: #f00;
    margin-top: 100px;
    font-size: 70px;
    font-style: italic;
    margin-bottom: 0;
    text-shadow: 20px 20px 13px black;
}
/*
.main.toLeft {
	margin-left: 100vw;
    transform: translateX(-100vw);
}
*/
.main{
    position: fixed;
    right: 0;
    top: 0;
    /*animation: 1s ease-out 0s 1 slideInFromLeft;*/
    width: 100%;
    height: 100%;
    
    
}
form .error {
    font-size: 27px;
    color: red;
    border: red solid 1px;
    box-shadow: 0px 0px 14px 0px;
    background-color: #ffffff99;
    border-radius: 15px;
    padding: 5px 5px 8px 8px;
    margin-bottom: 10px;
    min-width: 270px;
    right: 0;
    left: 0;
    margin: auto;
    position: relative;
    text-align: center;
}
/*@keyframes slideInFromLeft {*/
  /*0% {*/
    /*transform: translateX(100%);*/
  /*}*/
  /*100% {*/
    /*transform: translateX(-00%);*/
  /*}*/
/*}*/
.center.up{
	background-color: #04ff0059;
	color: #279e00;
}

.center.down{
	    background-color: #ff000059;
	    color: #f00;
}

span.status{
    font-size: 64px;
    font-style: italic;
    color: whitesmoke;
    margin-bottom: 0;
    text-shadow: 20px 20px 13px black;
    white-space: nowrap;
    transition: all 0.5s ease-in-out 0s, visibility 0s linear 0.5s, z-index 0s linear 0.01s;
    margin-right: 32px;
}
span.status.up{
    color: darkgreen;
    margin-right: 84px;
}
span.status.down{
    color: #A5281B;
    margin-right: 84px;
}
span.status.up:after{
    background-image: url("../images/up.png");
    background-size: 64px 64px;
    display: inline-block;
    width: 64px;
    height: 64px;
    content: "";
    position: absolute;
    margin: 10px;
    opacity: 0.7;
}
span.status.down:after{
    background-image: url('../images/down.png');
    background-size: 64px 64px;
    display: inline-block;
    width: 64px;
    height: 64px;
    content: "";
    position: absolute;
    margin: 10px;
    opacity: 0.7;
}
.main .center {
	margin-top: 30vh;
	padding-top: 30px;
}

.position-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 5px;
    background-color: #ffffff14;
    margin-bottom: 10px;
    transition: all 0.9s ease-in-out 0s, visibility 0s linear 0.9s, z-index 0s linear 0.01s;
    color: white;
    box-shadow: 0px 0px 5px 0px #7b3d3d;
    cursor: Pointer;
}

.position-row:hover{
    transform: scale(1.03);
}
.position-row.active{
    transform: translateX(7px);
    background-color: #9e9e9e63;
}

@-moz-document url-prefix() {
    html,body{overflow: hidden !important;}
}

.positions-inside{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    border-radius: 20px;
    scrollbar-width: none;
}

.position-row:last-child{

    margin-bottom: 0px;
}

.position-column{
    width: 33.3%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    font-size: 1.8vw;
    height: 8vw;
    max-height: 70px;
}
.position-column button{
    font-size: 1.8vw;
    height: auto;
    min-width: 80px;
    width: 80%;
    border-radius: 5px;
    background-color: #c718183d;
    color: #ffffff;
    border: solid 0px red;
    box-shadow: 1px 1px 8px 1px #ff000059;
}
@media (max-width: 800px){
    .position-column{
        font-size: 3vw;
    }
    .position-column button{
        font-size: 3vw;

    }
}

.positions-inside::-webkit-scrollbar {
    display: none;
}

.positions-inside::scrollbar {
    display: none;
}


.center{
    overflow: hidden;
    margin-top: 10vh;
    transition: all 0.9s ease-in-out 0s, visibility 0s linear 0.9s, z-index 0s linear 0.01s;
    border-radius: 5px;
    /* border: 0px solid red; */
    background-color: #ffffff59;
    text-align: center;
    width: 50%;
    box-shadow: 0px 0px 20px 1px white;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    /* top: 0; */
    left: 0;
    /* bottom: 0; */
    right: 0;
    


}
/*.toLeft {*/
    /*transform: translateX(-100vw);*/
/*}*/
.center .form {
    padding: 10%;
    padding-bottom: 5%;

}
label {
    color: white;
}

.center .form input {
    border: 1px solid #00bfff96;
    height: 40px;
    width: 50%;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
    box-shadow: 0px 0px 20px 5px #00000059;

}


input:focus {
    /*border: 2px solid blue;*/
    outline: none;
}


.btn-log-in {
    color: black;
    background: white;
    height: 40px;
    width: auto;
    margin-top: 40px;
    font-size: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px #00c3d5ab;
    border: 1px solid #00bfff96;
    margin-left: 5px;
    margin-right: 5px;
}

.btn-log-in:hover {
    background: lightblue;
}


.arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid green;
    margin-left: 5px;

}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;

    border-top: 20px solid #f00;
}


.user {
    color: black;
    background: white;
    border: 2px solid deepskyblue;
    height: 30px;
    width: 30%;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    /*box-shadow: 5px 5px lightgrey;*/
}

.rotate-out {
    z-index: 2000;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-perspective: 1300px;
    -moz-perspective: 1300px;
    perspective: 1300px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(-3000px) rotateY(90deg);
    -moz-transform: translateZ(-3000px) rotateY(90deg);
    -ms-transform: translateZ(-3000px) rotateY(90deg);
    transform: translateZ(-3000px) rotateY(90deg);
}

.rotate-in {
    z-index: 2000;
    /*visibility: hidden;*/
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-perspective: 1300px;
    -moz-perspective: 1300px;
    perspective: 1300px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(-3000px) rotateY(-90deg);
    -moz-transform: translateZ(-3000px) rotateY(-90deg);
    -ms-transform: translateZ(-3000px) rotateY(-90deg);
    transform: translateZ(-3000px) rotateY(-90deg);


    -webkit-animation: slit .7s forwards ease-out;
    -moz-animation: slit .7s forwards ease-out;
    animation: slit .7s forwards ease-out;
}

@-webkit-keyframes slit {
    0% { -webkit-transform: translateZ(-250px) rotateY(89deg); opacity: .5; -webkit-animation-timing-function: ease-out;}
    100% { -webkit-transform: translateZ(0) rotateY(0deg); opacity: 1; }
}

@-moz-keyframes slit {
    0% { -moz-transform: translateZ(-250px) rotateY(89deg); opacity: .5; -moz-animation-timing-function: ease-out;}
    100% { -moz-transform: translateZ(0) rotateY(0deg); opacity: 1; }
}

@keyframes slit {
    0% { transform: translateZ(-250px) rotateY(89deg); opacity: 1; animation-timing-function: ease-in;}
    100% { transform: translateZ(0) rotateY(0deg); opacity: 1; }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

label.success:after {
    background-image: url('../images/success.png');
    background-size: 45px 45px;
    display: inline-block;
    width: 45px;
    height: 45px;
    content: "";
    position: absolute;
}

label.failed:after {
    background-image: url('../images/failed.png');
    background-size: 45px 45px;
    display: inline-block;
    width: 45px;
    height: 45px;
    content: "";
    position: absolute;
}

#loading.active{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    z-index: 9999;
}
#loading {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #23353c;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
    -webkit-transition: all 0.9s;
    -moz-transition: all 0.9s;
    transition: all 0.9s;
    top: 0;
}


#loading.active .sk-folding-cube {
    left: calc(50% - 40px);
    top: calc(50% - 40px);
    width: 80px;
    height: 80px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

#loading.active .sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
#loading.active .sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e7dede;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
#loading.active .sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}
#loading.active .sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}
#loading.active .sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}
#loading.active .sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
#loading.active .sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
#loading.active .sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    } 25%, 75% {
          -webkit-transform: perspective(140px) rotateX(0deg);
          transform: perspective(140px) rotateX(0deg);
          opacity: 1;
      } 90%, 100% {
            -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
            opacity: 0;
        }
}

@keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    } 25%, 75% {
          -webkit-transform: perspective(140px) rotateX(0deg);
          transform: perspective(140px) rotateX(0deg);
          opacity: 1;
      } 90%, 100% {
            -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
            opacity: 0;
        }
}
